@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@import url("https://fonts.cdnfonts.com/css/real-miami");

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

header {
    background-image: linear-gradient(180deg,
            rgb(24, 23, 23) 25%,
            rgb(37, 35, 35) 40%,
            rgb(37, 35, 35) 50%,
            rgb(5, 5, 5) 90%,
            rgb(0, 0, 0) 100%);
    height: 52rem;
}

.header_container {
    padding: 4% 12%;
    background-image: url("images/Images2.png");
    background-repeat: no-repeat;
    background-position: 80% 100%;
    background-size: 450px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo {
    color: rgb(230, 83, 60);
    font-family: "Inter", sans-serif;
    font-size: 2.61rem;
    font-weight: 800;
    line-height: 120%;
    text-align: left;
    font-style: italic;
}


nav ul {
    display: flex;
    border: 1px solid rgb(148, 145, 145);
    border-radius: 50px;
    list-style: none;
    padding: 15px 0px;
}

nav ul li {
    margin: 0px 5px;
}

nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-weight: 400;
    line-height: 120%;
    text-align: left;
    padding: 10px 20px;
    border-radius: 50px;
    transition: all .3s ease;
}

nav ul li a:hover,
nav ul li a.active {
    background-color: rgb(230, 83, 60);
}

nav label i div {
    width: 20px;
    height: 2px;
    background-color: rgb(255, 255, 255);
    margin: 3px 0;
}

#click {
    display: none;
}

nav .menu_btn {
    color: #ffffff;
    cursor: pointer;
    display: none;
}


.shp {
    font-family: "Real Miami", sans-serif;
    font-weight: 10;
}

.get_body {
    display: flex;
    color: rgb(255, 255, 255);
    margin-top: 9%;
    justify-content: space-between;
}

.get {
    font-size: 5.655rem;
    font-family: "Inter", sans-serif;
    font-weight: 900;
}

.get_div {
    width: 603px;
}

.A_hue {
    margin-top: 30px;
    font-size: 1.16rem;
    color: rgb(139, 139, 139);
    font-family: "Inter", sans-serif;
    line-height: 40px;
}

.buttn_div {
    margin-top: 40px;
}

.join {
    height: 50px;
    width: 200px;
    border-radius: 50px;
    border: none;
    font-size: 1.305rem;
    font-family: "Inter", sans-serif;
    background-color: rgb(15, 14, 14);
    color: aliceblue;
    font-weight: 600;
}

.join:hover {
    background-color: rgb(230, 83, 60);
    box-shadow: 0px 0px 100px 0px rgba(136, 129, 129, 0.8);
}

#join_id {
    background-color: rgb(230, 83, 60);
}

.tutorial {
    /* border: 1px solid rgb(122, 122, 122); */
    font-family: "Inter", sans-serif;
    padding: 20px;
    position: relative;
    top: 55px;

    border-radius: 10px;
    text-align: left;
    background-image: linear-gradient(rgba(85, 77, 77, 0.705),
            rgba(114, 105, 105, 0.555),
            rgba(83, 78, 78, 0.692));
    width: 223px;
    height: 113px;
}

.tutorial h3 {
    font-size: 2.9rem;
}

.tutorial p {
    color: rgb(154, 159, 163);
    font-size: 0.94rem;
}

#free_v h3 {
    font-size: 1.74rem;
}

#free_v p {
    font-size: 1.16rem;
}

#free_v {
    position: relative;
    top: 270px;
    right: 380px;
    display: flex;
    justify-content: space-around;
}

.circle {
    height: 45px;
    width: 45px;
    background-color: rgb(230, 83, 60);
    border-radius: 50%;
    position: relative;
    top: 25px;
}

/* section  */

section {
    padding: 6% 12%;
    background-color: black;
    color: rgb(255, 255, 255);
    font-family: "Inter", sans-serif;
}

/* sssssssssssssss */
.change_y {
    text-align: center;
    font-family: "Inter", sans-serif;
}

.change_y .habit p {
    color: rgb(138, 141, 143);
    margin-top: 20px;
}

.habit {
    width: 700px;
    margin: auto;
    margin-bottom: 58px;
}

.change_y .habit h2 {
    color: rgb(255, 255, 255);
    font-size: 3.48rem;
}

.habit p {
    font-size: 1.16rem;
}

.image_Sec {
    display: flex;
    font-family: "Inter", sans-serif;
    justify-content: space-between;
}

.image_Sec h4 {
    color: rgb(255, 255, 255);
    margin-top: 20px;
    font-size: 1.305rem;
}

.image_Sec p {
    color: rgb(88, 86, 86);
    margin-top: 20px;
    font-size: 1rem;
    width: 220px;
}

.image_Sec img {
    border: 5px solid rgba(255, 255, 255, 0.158);
    border-radius: 50%;
}

/* 2ND SECTION */
.border_div {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    height: 430px;
    border-radius: 20px;
    background-image: linear-gradient(rgba(71, 71, 71, 0.705),
            rgba(65, 62, 62, 0.808),
            rgba(83, 78, 78, 0.692));
}

.border_div .run {
    width: 460px;
}

.border_div .run h2 {
    font-size: 3.48rem;
    color: rgb(255, 255, 255);
    margin-top: 20px;
    font-weight: 900;
    line-height: 120%;
}

.border_div .run p {
    font-size: 1rem;
    color: rgb(114, 115, 116);
    margin-top: 20px;
    margin-bottom: 40px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
}

.border_div .run_img img {
    height: 100%;
    border-radius: 20px;
}

#join_di {
    background-color: rgb(230, 83, 60);
}

.training_photo_div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);

}

/* .photo_sec1{
    width: 1053px;
}
.photo_sec1 img{
    margin: -3px -3px;
}

.photo_sec2{
    width: 1053px;
}
.photo_sec2 img{
    margin: -3px -3px;
    align-content: space-evenly;
} */
.traning h2 {
    color: aliceblue;
    font-size: 3.48rem;
}

.traning p {
    color: rgb(141, 144, 146);
    margin: 30px 0px;
    width: 778px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
}

/* /////////////////////////////////// */

.image-container {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;

}

/* .image {
    padding: 0;
} */

/* .image img {
    width: 100%;
    height: 278px;
} */



/* another try */
#ex1 {
    background-image: linear-gradient(rgba(6, 255, 210, 0.45),
            rgba(6, 255, 210, 0.45)), url("images/exercise1.jpg");
    width: 70vb;
    background-repeat: no-repeat;
    background-size: cover;
}

#ex1 p {
    padding: 20px;
    font-family: "Inter", sans-serif;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0px;
    margin-top: 180px;
}

#ex2 {
    background-image: linear-gradient(rgba(255, 0, 0, 0.45),
            rgba(255, 0, 0, 0.45)), url("images/exercise2.png");
    width: 90vb;
    background-repeat: no-repeat;
    background-size: cover;
}

#ex2 p {
    padding: 20px;
    font-family: "Inter", sans-serif;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0px;

}

#ex3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.45),
            rgba(0, 0, 0, 0.45)), url("images/exercise3.png");
    width: 65vb;
    background-repeat: no-repeat;
    background-size: cover;
}

#ex3 p {
    padding: 20px;
    font-family: "Inter", sans-serif;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0px;
    width: 210px;
    margin-top: 170px;
}

#ex4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.45),
            rgba(0, 0, 0, 0.45)), url("images/exercise4.png");
    width: 80vb;
    background-repeat: no-repeat;
    background-size: cover;
}

#ex4 p {
    padding: 20px;
    font-family: "Inter", sans-serif;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0px;
    width: 210px;
    margin-left: 280px;
}


#ex5 {
    background-image: linear-gradient(rgba(66, 255, 0, 0.45),
            rgba(66, 255, 0, 0.45)), url("images/exercise5.jpg");
    width: 60vb;
    background-repeat: no-repeat;
    background-size: cover;
}

#ex5 p {
    padding: 20px;
    font-family: "Inter", sans-serif;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0px;
    width: 210px;
    margin-top: 170px;

}

#ex6 {
    background-image: linear-gradient(rgba(0, 72, 255, 0.374),
            rgba(0, 71, 255, 0.45)), url("images/exercise6.jpg");
    width: 80vb;
    background-repeat: no-repeat;
    background-size: cover;
}

#ex6 p {
    padding: 20px;
    font-family: "Inter", sans-serif;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0px;
    width: 210px;
    margin-top: 170px;
}



/* 
.image1 {
    background-image: url("images/exercise1.jpg");
    height: 250px;
    width: auto;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.image2 {
    background-image: url("images/exercise2.png");
    height: 250px;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

.image3 {
    background-image: url("images/exercise3.png");
    height: 250px;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

.image11 {
    background-image: url("images/exercise4.png");
    height: 250px;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

.image22 {
    background-image: url("images/exercise5.jpg");
    height: 250px;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

.image33 {
    background-image: url("images/exercise6.jpg");
    height: 250px;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
} */







/* 3rd section */
.BMI {
    color: rgb(255, 255, 255);

}

.bmi_title {
    text-align: left;
    width: 830px;
    margin-left: 400px;
    margin-bottom: 5%;
}

.bmi_title h2 {
    font-size: 5rem;
    font-weight: 900;
}

.bmi_title p {
    font-size: 1.2rem;
    color: rgb(138, 140, 141);
    line-height: 30px;

}

table {
    border: 1px solid white;
}
.BMI_des{
width: 669px;
}
.bmi_sec {
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 33, 33);
    padding: 4% 12%;
}

#bmi_div {
    padding: 0px 0px;
}

.bmi_sec h2 {
    font-size: 3rem;
    margin: 10px 0px;
}

.bmi_sec p {
    font-size: 1.2rem;
    color: rgb(147, 148, 148);
    margin: 10px 0px;
    line-height: 40px;
}

.bmi_calculator {
    width: 720px;
}


.bmi_sec,
.bmi_calculator,
.bmi_sec h2 {
    font-size: 2rem;
    font-weight: 900;
}

.we_b {
    width: 700px;
}

.bmi_sec,
.bmi_calculator,
.bmi_sec p {
    font-size: 1.08rem;
    font-weight: 400;
}

#BMIBMI {
    height: 55px;
    width: 49%;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    margin-bottom: 20px;
    border-radius: 10px;
    font-size: 1.4rem;
    padding-left: 20px;
}

#BMIBM {
    height: 55px;
    width: 99%;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    margin-bottom: 20px;
    border-radius: 10px;
    font-size: 1.4rem;
    padding-left: 20px;
}

.stuatus_info{
    margin-top: 70px;
    width: 359px;
    height: 250px;
}

.stuatus_info table tr td {
    border: 1px solid rgba(155, 149, 149, 0.26);
    padding: 18px;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}

.stuatus_info table tr th{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1.16rem;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    padding: 15px 18px;
    border: 1px solid rgba(155, 149, 149, 0.26);
}

#light {
    color: aliceblue;
    font-weight: 500;
    font-size: 1.4rem;
}

#join_idtwo {
    width: 320px;
    height: 80px;
    font-size: 1.4rem;
    margin-top: 30px;
    background-color: rgb(230, 83, 60);
}

/* 4rth section */
.our_team {
    text-align: center;
    margin-bottom: 40px;
}

.team_member {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    border-radius: 30px;
    padding: 30px;
    background-image: linear-gradient(rgb(43, 39, 39),
            rgba(51, 49, 49, 0.555),
            rgba(37, 36, 36, 0.692));
}

.our_team p {
    margin-top: 20px;
}

#team {
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 30px;
    align-content: end;

}

.our_team h2 {
    font-size: 5rem;
    font-weight: 900;
}

.our_team p {
    font-size: 1.2rem;
    color: rgb(154, 156, 156);
}

/* .team_member h2 {
    font-size: 1rem;
    margin: 20px;
} */
#team h3 {
    margin-left: 30px;
    font-size: 1.5rem;
    font-weight: 900;
}

#team p {
    margin-left: 30px;
    margin-bottom: 40px;
}

.team_member p {
    font-size: 1.2rem;
    color: rgb(134, 134, 134);
}

.team_photo1 {
    background-image: linear-gradient(rgba(36, 36, 36, 0.219), rgba(51, 51, 51, 0.171), rgba(31, 31, 31, 0.164)), url("images/trainer1.png");
}

.team_photo2 {
    background-image: linear-gradient(rgba(36, 36, 36, 0.219), rgba(51, 51, 51, 0.171), rgba(31, 31, 31, 0.164)), url("images/trainer2.png");
}

.team_photo3 {
    background-image: linear-gradient(rgba(36, 36, 36, 0.219), rgba(51, 51, 51, 0.171), rgba(31, 31, 31, 0.164)), url("images/trainer3.png");
}

.team_photo4 {
    background-image: linear-gradient(rgba(36, 36, 36, 0.219), rgba(51, 51, 51, 0.171), rgba(31, 31, 31, 0.164)), url("images/trainer4.png");
}

.team_photo5 {
    background-image: linear-gradient(rgba(36, 36, 36, 0.219), rgba(51, 51, 51, 0.171), rgba(31, 31, 31, 0.164)), url("images/trainer5.png");
}

.team_photo6 {
    background-image: linear-gradient(rgba(36, 36, 36, 0.219), rgba(51, 51, 51, 0.171), rgba(31, 31, 31, 0.164)), url("images/trainer6.png");
}

/* footer */

footer {
    background-color: rgb(29, 28, 28);
    padding: 6% 12%;
    color: rgb(255, 255, 255);
    font-family: "Inter", sans-serif;
}

.about_us {
    width: 550px;
}

.about_us a {
    text-decoration: none;
    font-size: 6rem;
}

.about_us p {
    color: rgb(154, 156, 156);
    font-size: 1.2rem;
    margin-top: 50px;
}


.about_us_div {
    display: flex;
    justify-content: space-between;
}

.about_us_div,
.about_us p {
    line-height: 30px;
}

.strarted {
    display: flex;
    justify-content: space-between;
}

.strarted .started h3 {
    margin-bottom: 30px;

}

.strarted h3 {
    font-size: 2.7rem;
    padding-right: 50px;

}

.strarted ul {
    font-size: 1.8rem;
    color: rgb(154, 156, 156);
    line-height: 70px;
}

.revers {
    text-align: center;
    font-size: 2rem;
    color: rgb(154, 156, 156);
    margin-top: 80px;
}

hr {
    border: 1px solid rgb(82, 82, 82);
    margin: 30px 0px;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

/* responsiv */

@media screen and (max-width:455px) {

    header {
        width: 100%;
        height: 100%;

    }

    nav ul {
        position: fixed;
        top: 80px;
        right: -100%;
        height: 50vh;
        width: 100%;
        display: block;
        text-align: left;
        border: none;
        transition: all .3s ease;
    }

    #click:checked~ul {
        left: 0%;
    }

    /* #click:checked ~ .menu_btn:before{
        content: "\f00d";
    } */
    nav ul li {
        margin: 50px 0px;
    }

    nav ul li a {
        background: none;
    }

    nav .menu_btn {
        display: block;
    }

    /* nav label i div {
        width: 25px;
        height: 2px;
        background-color: rgb(255, 255, 255);
        margin: 3px 0;
    } */


    .header_container {
        padding: 4% 4%;
        background-position: 80% 100%;
        /* background-image: none; */
        background-size: 400px;
    }

    .header_container {
        padding-bottom: 0px;
    }

    .links {
        display: none;
    }

    .icon {
        display: active;
        margin-right: 60px;
    }

    .fit_logo {
        font-size: 3rem;
    }

    .header_container .top_nav a {
        /* text-decoration: none;
        text-align: center; */
        padding-left: 10px;
    }

    .get {
        font-size: 3rem;
    }

    .A_hue {
        font-size: 1.3rem;
        line-height: 30px;
    }

    .get_body {
        display: inline-block;

    }

    .get_div {
        width: 358px;
        /* margin-top: 50px;
        margin-bottom: 50px; */
        margin: 50px 10px;
    }

    .buttn_div {
        display: flex;


    }

    .join {
        height: 60px;
        width: 190px;

        border: 1px solid white;
        /* font-size: 20px;
        font-family: "Inter", sans-serif; */
        background-color: rgba(15, 14, 14, 0);
        /* color: aliceblue; */
    }

    #join_id {
        margin-left: 10px;
        border: none;
    }

    #don {
        position: relative;
        left: 30px;
    }

    /* half heading */
    .tutorial {
        /* border: 1px solid rgb(122, 122, 122); */

        padding: 10px;
        width: 170px;
        top: 90px;
        right: -300px;
        height: 90px;

    }

    .tut_div {
        /* background-image: url("images/Images\ 2.png"); */
        /* background-repeat: no-repeat; */
        height: 650px;
        /* background-position: 50% 100%; */

    }

    .tutorial h3 {
        font-size: 3.357rem;
    }


    #free_v {
        position: relative;
        top: 170px;
        right: -90px;

    }

    #free_v h3 {
        font-size: 2rem;
        margin-top: 19px;
        margin-left: 5px;

    }

    #free_v p {
        margin-left: 5px;
    }

    /* 1st section */

    /* .change_y {
    text-align: center;
    font-family: "Inter", sans-serif;
} */
    .change_y {
        padding-top: 0px;
    }

    .change_y .habit p {
        color: rgb(138, 141, 143);
        margin-top: 20px;
        font-size: 1.2rem;
    }

    .habit {
        width: 420px;
        margin: auto;
        margin-bottom: 50px;
    }

    .change_y .habit h2 {
        font-size: 2.5rem;
        font-weight: 1000;
    }

    .image_Sec {
        display: inline;
        margin: auto;

    }

    .image_Sec p {
        margin-top: 0px;
        font-size: 1.25rem;
        width: 270px;
        line-height: 30px;
    }

    .image_Sec div {
        margin-bottom: 50px;
    }

    .mob {
        margin: auto;
    }

    /* 2nd section responsive */
    .border_div {
        display: inline-block;
        padding: 50px;
        height: 50%;
        width: 100%;
    }

    .border_div .run {
        width: 89%;
    }

    .border_div .run h2 {
        font-size: 2.332rem;
        color: rgb(255, 255, 255);
        margin-top: 20px;
        font-family: Inter;
        font-weight: 900;
        line-height: 120%;
        width: 316px;
        text-align: left;
    }

    .border_div .run p {
        font-size: 1rem;

        margin-top: 20px;
        margin-bottom: 50px;


        color: rgba(255, 255, 255, 0.5);

        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.3px;
        text-align: left;
    }

    .border_div .run_img img {
        height: 100%;
        width: 100%;

    }

    #join_di {
        background-color: rgb(230, 83, 60);
        border: none;
        width: 332px;
        height: 63px;
        margin-bottom: 40px;
        font-weight: 700;
        font-size: 1.5rem;
    }


    section {
        padding: 2% 4.5%;
    }

    /* 3rd section */
    .traning {
        width: 400px;
    }

    .traning h2 {
        font-size: 2.32rem;
        font-weight: 900;
    }

    .traning p {
        font-size: 1rem;
        margin: 20px 0px;
        width: 384px;
        line-height: 40px;
        word-spacing: 4px;
    }

    #ex1 {
        background-image: linear-gradient(rgba(6, 255, 210, 0.45), rgba(6, 255, 210, 0.45)), url(images/exercise1.jpg);
        width: 70vb;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #ex2 {
        background-image: linear-gradient(rgba(255, 0, 0, 0.45), rgba(255, 0, 0, 0.45)), url(images/exercise2.png);
        width: 90vb;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right top;
    }

    #ex4 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(images/exercise4.png);
        width: 25vb;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left top;
    }

    #ex5 {
        background-image: linear-gradient(rgba(66, 255, 0, 0.45), rgba(66, 255, 0, 0.45)), url(images/exercise5.jpg);
        width: 24.5vb;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #ex3 {
        display: none;
    }

    #ex6 {
        display: none;
    }

    #ex1 {
        background-image: linear-gradient(rgba(6, 255, 210, 0.45), rgba(6, 255, 210, 0.45)), url(images/exercise1.jpg);
        width: 70vb;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #ex4 p {
        padding: 20px;
        font-family: "Inter", sans-serif;
        color: rgb(255, 255, 255);
        font-size: .8rem;
        font-weight: 500;
        line-height: 17px;
        letter-spacing: 0px;
        width: 210px;
        margin-left: 0px;
    }

    /* .training_photo_six {
        display: none;
    }

    .training_photo_three {
        display: none;
    }

    .training_photo_div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 95%;
        margin-bottom: 40px;

    }

    .training_photo_div img {
        height: 100px;
        width: fit-content;
    } */

    .bmi_title {
        width: 430px;
        margin-left: 25px;
    }

    .bmi_title h2 {
        font-size: 2.32rem;
        font-weight: 900;

    }

    .bmi_title p {
        font-size: 1rem;
        margin: 20px 0px;
        width: 409px;
        color: rgba(255, 255, 255, 0.5);
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.3px;
        text-align: left;
    }

    .bmi_sec {
        display: inline-block;
        background-color: rgb(34, 33, 33);
        padding: 4% 4%;
        width: 100%;
    }

    .stuatus_info {
        margin-top: 20px;
    }

    #light {

        font-size: 1rem;
    }

    .bmi_sec p {
        font-size: 1rem;
        margin: 20px 0px;
        color: rgba(255, 255, 255, 0.5);
        width: 409px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.3px;
        text-align: left;
    }

    .bmi_chart {
        margin-bottom: 50px;
    }

    .bmi_calculator {
        width: 100%;
    }

    #BMIBMI {
        width: 30%;
    }

    #BMIBM {
        width: 60%;
    }

    #join_idtwo {
        border: none;
    }




    .team_member {
        display: inline-block;
        width: 90%;
    }

    #team {
        margin-bottom: 30px;
    }

    .our_team {

        margin: 50px 0px;
    }

    .our_team h2 {
        font-size: 2.32rem;
        font-weight: 900;
    }

    .our_team p {
        font-size: 1rem;
        margin: 20px 0px;
        width: 358px;
        color: rgba(255, 255, 255, 0.5);
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.3px;
        text-align: center;
    }


    /* footer */

    .about_us_div {
        display: inline-block;
    }

    .about_us p {
        font-size: 1rem;
        margin: 20px 0px;
        width: 367px;
        color: rgba(255, 255, 255, 0.5);

        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.3px;
        text-align: left;
    }

    .strarted {
        display: inline-block;
    }

    .started h3 {
        margin: 30px 0px;
    }

    .revers {
        text-align: left;
        font-size: 1.5rem;
        color: rgb(154, 156, 156);
        margin: 50px 0px;
    }
}